@entrust:registry=https://binary.entrust.com:8443/artifactory/api/npm/npm-snapshot-local/
//binary.entrust.com:8443/artifactory/api/npm/npm-snapshot-local/:_auth=${NPM_CONFIG__AUTH_PSW}
//binary.entrust.com:8443/artifactory/api/npm/npm-snapshot-local/:email=${NPM_CONFIG_EMAIL}
//binary.entrust.com:8443/artifactory/api/npm/npm-snapshot-local/:always-auth=true
fetch-retry-mintimeout=20000
fetch-retry-maxtimeout=120000
fetch-retries=4